.inset {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.node {
	background-color: #64b5f6;
}

h3.logo {
	margin-top: 0;
}

.md-sidenav-left {
	min-width: 175px !important;
	max-width: 175px !important;
	color: #ffffff;
	fill: #ffffff;
	background-color: #1976d2;
}

th {
	padding: 0 14px;
}
td {
	padding: 0 14px;
}

.dark-true {
	background-color: #bbdefb;
}
.dark-false {
	background-color: #e3f2fd;
}
