<md-content layout="column" flex>
	<div layout="row">
		<div flex="50">
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<div class="md-title">Hashrate Graph</div>
					</md-card-header-text>
				</md-card-header>
				<md-card-content ng-if="!vm.hashrateChart.loaded" layout="row" layout-align="center center">
					<div style="height:{{ vm.hashrateChart.options.chart.height }}px" layout="column" layout-align="center center">
						<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
					</div>
				</md-card-content>
				<md-card-content ng-if="vm.hashrateChart.loaded">
					<nvd3 options="vm.hashrateChart.options" data="vm.data.farmHashrate">
					</nvd3>
				</md-card-content>
			</md-card>
		</div>
		<div flex>
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<div class="md-title">Aliverate Graph</div>
					</md-card-header-text>
				</md-card-header>
				<md-card-content ng-if="!vm.aliverateChart.loaded" layout="row" layout-align="center center">
					<div style="height:{{ vm.aliverateChart.options.chart.height }}px" layout="column" layout-align="center center">
						<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
					</div>
				</md-card-content>
				<md-card-content ng-if="vm.aliverateChart.loaded">
					<nvd3 options="vm.aliverateChart.options" data="vm.data.aliverate">
					</nvd3>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<md-content layout="row" flex>
		<md-content flex="50">
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<div class="md-title">Summary</div>
					</md-card-header-text>
				</md-card-header>
				<md-card-content ng-if="!vm.summaryLoaded" layout="row" layout-align="center center">
					<div layout="column" layout-align="center center">
						<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
					</div>
				</md-card-content>
				<md-card-content ng-if="vm.summaryLoaded">
					<md-data-table-container>
						<table md-data-table md-progress="deferred">
							<thead>
								<tr>
									<th ng-repeat="column in vm.summaryTable" name="{{ column.name }}"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="node in vm.data.summary">
									<td ng-repeat="column in vm.summaryTable">
										{{ column.value(node) }}
									</td>
								</tr>
							</tbody>
						</table>
					</md-data-table-container>
				</md-card-content>
			</md-card>
		</md-content>

		<md-content flex>
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<div class="md-title">Issues</div>
					</md-card-header-text>
				</md-card-header>
				<md-card-content>

				</md-card-content>
			</md-card>
		</md-content>
	</md-content>
</md-content>
